<div id="sectionWrapper">
    <div>
        <address><a href={{url}}>{{title}}</a></address>
        <span class="dateTime">{{date}}</span>
    </div>
    <div class="description">
        <p>{{description}}</p>
    </div>
</div>