@import 'https://fonts.googleapis.com/css?family=Ubuntu|Vollkorn';

$font1: 'Ubuntu',sans-serif;
$font2: 'Vollkorn',serif;

$background-color1: #F5F5F5;
$linkColor: rgba(56, 95, 122, 0.90);
$textColor: #67727A;
//* {
//  border: 1px solid red;
//}
html {font-size: 1em;}

body {
  background-color: white;
  font-family: $font2;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.45;
  color: #67727A;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('../img/code.jpeg');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

header {
  margin: 10px 0;
}

a {
  color: $linkColor;
  text-decoration: none;
  transition: border-bottom 500ms ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  color: white;
  display: inline-block;
  min-width: 30%;
}

aside nav {
  width: 100%;
  height: 90%;
  background-color: $background-color1;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul {
    width: 100%;
    padding-left: 0;
    margin: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    li {
      line-height: 2.2em;
      width: 100%;
      text-align: center;
      font-size: 24px;
      padding: 0 20px;
      font-family: $font1;
      margin: 0;
    }
    ul {
      flex-direction: row;
      justify-content: center;
      li {
        width: auto;
      }
    }
  }
}

section {
  font-family: $font1;
  // font-size: 22px;
  font-weight: 300;
  color: $textColor;
  display: flex;
  align-self: flex-start;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0;
  align-items: center;
  > div {
    background-color: $background-color1;
  }
  &:nth-of-type(1n) {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: $font1;
  font-size: 0.7rem;
  text-align: center;
}
@media screen and (min-width: 650px) {
  aside nav ul {
    flex-direction: row;
    align-items: center;
    width: 70%;
    li {
      align-self: auto;
    }
  }
}

@media screen and (min-width: 900px) {

  header {
    margin: 0;
  }

  main {
    flex-direction: row;
    height: 100vh;
    section {
      min-height: 100%;
    }

  }

  aside nav {
    height: 100%;
  }

  aside nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    li {
      align-self: auto;
      width: auto;
    }
  }

  section {
    justify-content: center;
  }

  section > div[data-article="articles"] {
    margin: 0;
    width: 90%;
    margin-bottom: 1.3rem;
  }
  
  section > div[data-article="articles"]:first-child {
    margin: 0;
    
  }

  section:nth-of-type(1n) {
    margin-top: 0;
  }
}