$font1: 'Ubuntu', sans-serif;
$font2: 'Vollkorn', serif;

$background-color1: #F5F5F5;

.template {
  display: none;
}

.aside-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.no-display {
  display: none !important;
}

@media screen and (min-width: 900px) {

  .aside-wrapper {
    height: 100%;
    position: fixed;
    top: 0;
    width: 25%;
  }
}